@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  color: #5c5c5c;
  line-height: 2;
  font-family: "Poppins";
}

h1 {
  font-family: "Kanit";
  font-weight: 400 !important;
}

.hero-text {
  line-height: 1.5 !important;
}

.close-nav {
  transform: translateY(-120%);
  transition: transform 0.5s linear;
}

.open-nav {
  transform: translateY(0%);
  transition: transform 0.5s linear;
}

.z-show {
  z-index: 20;
}

.fancy-line {
  position: absolute;
  bottom: -15px;
  right: 53%;
  transform: translateX(50%);
}

.p-side {
  padding: 0 5%;
}

button {
  font-family: "Poppins";
}

li, ul, ol {
  list-style: none;
  font-family: "Poppins";
}

.btn-bg {
  background-color: #253B80;
}

.border-bg {
  border-color: #253B80;
}

.heading-bg {
  color: #01396C;
}

.red-text {
  color: #C63B3A;
}

.light-bg {
  background-color: #ECF7FF;
}

.growth-bg {
  background: linear-gradient(252.56deg, #3E60DA 1.88%, #053782 100%);
  color: white;
}

.review-box {
  min-height: 250px;
}

/* Swiper */
.swiper {
  position: static !important;
  height: 500px;
}

.swiper-button-prev, .swiper-button-next {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: 1px solid #eee;
}

.swiper-button-prev {
  left: -20px;
}

.swiper-button-prev::after {
  content: "<";
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.swiper-button-next::after {
  content: ">";
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.swiper-button-next {
  right: -20px;
}

@media (max-width: 760px) {
  .partner-img {
    max-width: 120px;
  }

  .fancy-line {
    bottom: -10px;
  }

  .swiper {
    height: unset;
  }
}